body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.button_style {
  margin-left: 10px !important;
  margin-right: 10px;
  text-align: center;
  line-height: 70px;

}

.centerTable {
  margin: 0px auto;
}

h3{
  color: rgb(128, 15, 143);
  font-size: 16px;
}

h2 {
    color: #3d7707;
    color:black;

}
