body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.button_style {
  margin-left: 10px !important;
  margin-right: 10px;
  text-align: center;
  line-height: 70px;

}

.centerTable {
  margin: 0px auto;
}

h1{
  color: rgb(128, 15, 143);
  font-size: 38px;
}

h2 {
    /* color: #3d7707; */
    color:rgb(0, 0, 0);

}

.input1{
  position: absolute;
  top:30px;
  left: 20px;
  width: 205px;
  height: 70x;
  font-size: 24px;
  border-radius: 10%;
  text-align: center;
  line-height: 70px;
  margin-top: 20%;
  margin-left: 42%;
}

.input2{
  position: absolute;
  top:120px;
  left: 20px;
  width: 205px;
  height: 70x;
  font-size: 24px;
  border-radius: 10%;
  text-align: center;
  line-height: 70px;
  margin-top: 20%;
  margin-left: 42%;
}